<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Welcome to Essay Mint</title>
    </head>

    <body style="background-color: white">
        <div style="text-align: center; background-color: whitesmoke; height: 400px; width: 500px; margin: auto; padding: 1%" >
            <div  style="margin: 0 auto">
                <img src="./logo.png" width="100" height="100"/> 
            </div>
            <div style="margin-top: 4%; text-indent: 30px; padding: 6%">
                <span style="font-size: 18px; line-height: 2.0;">Your order was processed successfully, and the order Id is <strong>{{orderId}}</strong>. The total amount charged from your card was <strong>{{amount}}</strong> your order will be processed as soon as possible. Please let us know if you have any question.</span>
            
                <p style="font-size: 16px">Thank you!</p>
              </div>
        </div>
    </body>

</html>