<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Welcome to Essay Mint</title>
    </head>

    <body style="background-color: white">
        <div style="text-align: center; background-color: whitesmoke; height: 400px; width: 500px; margin: auto; padding: 1%" >
            <div  style="margin: 0 auto">
                <img src="./logo.png" width="100" height="100"/> 
            </div>
            <div style="margin-top: 4%; text-indent: 30px; padding: 6%">
                <span style="font-size: 18px; line-height: 2.0;">Your order {{orderId}} is ready for download, thank you for using Essay Mint!</span>
            
                <a href="{{downloadLink}}" role="button" style="margin-top: 6%" class="btn btn-info btn-block">Download</a>
              </div>
        </div>
    </body>

</html>